    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/alertify.css">
    <link rel="stylesheet" href="css/themes/default.css">
<!--
<div class="col-12 col-md-6 col-lg-8">
    <div class="row">
        <div class="col-12 col-lg-2">
        </div>
        <div class="col-12 col-lg-8">
                
</textarea><div class="draftJsStickerPlugin__selectClosedPopover__1UXVa" data-reactid=".0.0.3.a.1.0.1.0.1"><div class="draftJsStickerPlugin__selectStickerList__3F4Za" data-reactid=".0.0.3.a.1.0.1.0.1.0"><button type="button" class="draftJsStickerPlugin__selectSticker__3VCSX" data-reactid=".0.0.3.a.1.0.1.0.1.0.$b3aa388f-b9f4-45b0-bba5-d92cf2caa48b"><img class="draftJsStickerPlugin__selectStickerImage__HoOE2" src="localhost_files/unicorn-4.png" data-reactid=".0.0.3.a.1.0.1.0.1.0.$b3aa388f-b9f4-45b0-bba5-d92cf2caa48b.0"></button><button type="button" class="draftJsStickerPlugin__selectSticker__3VCSX" data-reactid=".0.0.3.a.1.0.1.0.1.0.$adec3f13-823c-47c3-b4d1-be4f68dd9d6d"><img class="draftJsStickerPlugin__selectStickerImage__HoOE2" src="localhost_files/unicorn-1.png" data-reactid=".0.0.3.a.1.0.1.0.1.0.$adec3f13-823c-47c3-b4d1-be4f68dd9d6d.0"></button><button type="button" class="draftJsStickerPlugin__selectSticker__3VCSX" data-reactid=".0.0.3.a.1.0.1.0.1.0.$e14b5a20-1025-4952-b731-41cd4b118ba0"><img class="draftJsStickerPlugin__selectStickerImage__HoOE2" src="localhost_files/unicorn-6.png" data-reactid=".0.0.3.a.1.0.1.0.1.0.$e14b5a20-1025-4952-b731-41cd4b118ba0.0"></button><button type="button" class="draftJsStickerPlugin__selectSticker__3VCSX" data-reactid=".0.0.3.a.1.0.1.0.1.0.$659a0dbf-5f85-4f32-999d-eb9ba6b0f417"><img class="draftJsStickerPlugin__selectStickerImage__HoOE2" src="localhost_files/unicorn-2.png" data-reactid=".0.0.3.a.1.0.1.0.1.0.$659a0dbf-5f85-4f32-999d-eb9ba6b0f417.0"></button><button type="button" class="draftJsStickerPlugin__selectSticker__3VCSX" data-reactid=".0.0.3.a.1.0.1.0.1.0.$fab0ae95-ae95-4775-b484-72c290437602"><img class="draftJsStickerPlugin__selectStickerImage__HoOE2" src="localhost_files/unicorn-5.png" data-reactid=".0.0.3.a.1.0.1.0.1.0.$fab0ae95-ae95-4775-b484-72c290437602.0"></button><button type="button" class="draftJsStickerPlugin__selectSticker__3VCSX" data-reactid=".0.0.3.a.1.0.1.0.1.0.$71853190-8acd-4d3b-b4fd-63f7b0648daa"><img class="draftJsStickerPlugin__selectStickerImage__HoOE2" src="localhost_files/unicorn-3.png" data-reactid=".0.0.3.a.1.0.1.0.1.0.$71853190-8acd-4d3b-b4fd-63f7b0648daa.0"></button></div><div class="draftJsStickerPlugin__selectBottomGradient__1DA_0" data-reactid=".0.0.3.a.1.0.1.0.1.1"></div></div></div><span style="margin-right:10px;" data-reactid=".0.0.3.a.1.0.1.1"></span><button disabled="disabled" class="draftJsUndoPlugin__button__3Vugn" data-reactid=".0.0.3.a.1.0.1.2">↺</button><button disabled="disabled" class="draftJsUndoPlugin__button__3Vugn" data-reactid=".0.0.3.a.1.0.1.3">↻</button></div><div data-reactid=".0.0.3.a.1.0.2"></div></div></div></div><div class="panel panel-warning" data-reactid=".0.0.3.b"><div class="panel-heading" data-reactid=".0.0.3.b.0"><span style="font-weight:bold;font-size:14px;padding-right:5px;" data-reactid=".0.0.3.b.0.0">https://react-rte.org/demo</span><span data-reactid=".0.0.3.b.0.1">(</span><a href="https://react-rte.org/demo" target="_blank" data-reactid=".0.0.3.b.0.2">source</a><span data-reactid=".0.0.3.b.0.3">)</span><span class="pull-right" data-reactid=".0.0.3.b.0.4"><span data-reactid=".0.0.3.b.0.4.0">Features: </span><span data-reactid=".0.0.3.b.0.4.1">Rich Text Buttons</span></span></div><div class="panel-body" data-reactid=".0.0.3.b.1"><iframe src="/demo.html" style="display:block;width:100%;height:500px;" data-reactid=".0.0.3.b.1.0" frameborder="0"></iframe></div></div>
        </div>
        <div class="col-12 col-lg-2">
        </div>
    </div>
</div>
<script src="./bundle.js"></script>-->

        <script src="js/demo.js"></script>
          </head>
          <body >
            
                <form method="POST" id="escritura" class="w3-container">
                  
                <!--    <div class="col-12 col-md-6 col-lg-8"> -->
                          
                            <div class="row">
                                    <div class="col-3 col-lg-3"> 
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        
                                        <label for="tipoArt"><b>Tipo de Artículo</b></label>
                                        <select  class="w3-select" name="tipoArt" id="tipoArt">
                                                <option>Microrelato</option>
                                                <option>Cuento</option>
                                                <option>Poema</option>
                                                <option>Relato largo</option>
                                            </select>
                                            <br>
                                    </div>
                                    <div class="col-3 col-lg-3"> 
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-3 col-lg-3"> 
                                        </div>
                                    <div class="col-6 col-lg-6">
                                            <br>
                                        <label for="titulo"><b>Título</b></label>
                                        <input class="w3-input" type="text" placeholder="Introduce el título..." name="titulo" required>
                                        <br>
                                    </div>
                                    <div class="col-3 col-lg-3"> 
                                        </div>
                            </div>
                            <div class="row">
                                    <div class="col-3 col-lg-3"> 
                                        </div>
                                    <div class="col-6 col-lg-6">
                                            <br>
                                        <label for="autor"><b>Autor</b></label>
                                        <input type="text"class="w3-input" placeholder="Introduce tu nombre de autor..." name="autor" required>
                                        <br>
                                    </div>
                                    <div class="col-3 col-lg-3"> 
                                        </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-3 col-lg-3"> 
                                    </div>
                                <div class="col-6 col-lg-6">
                                    <br>
                                    Selecciona una imagen como portada: <input type="file" name="myFile" required>
                                    <br>
                                </div>
                                <div class="col-3 col-lg-3"> 
                                    </div>
                        </div>
                      
                            <div class="row">


                                    <div class="col-3 col-lg-3"> 
                                        </div>
                                <div class="col-6 col-lg-6"id="editor" >
                                        <br>
                                        <script src="js/jquery/jquery-2.2.4.min.js"></script>
                                        <script>    
                                        
                                            $(document).ready(function(){
                                                $("#editor").append(document.querySelector(".editor-demo"));
                                            });
                                        </script>  
                                        <br> 
                                </div>
                                <div class="col-3 col-lg-3"> 
                                    </div>
                            </div>
                            
                            <div class="row">
                                    <div class="col-3 col-lg-3"> 
                                        </div>
                                    <div class="col-6 col-lg-6">
                                            <br>
                                        <label for="descrip"><b>Descripción</b></label>
                                        <input type="text" class="w3-input"placeholder="Introduce una breve descripción de tu artículo..." name="descrip" required>
                                        <br>
                                    </div>
                                    <div class="col-3 col-lg-3"> 
                                        </div>
                            </div>
                            <div class="row">
                                    <div class="col-8 col-lg-8"> 
                                        </div>
                                    <div class="col-2 col-lg-2">
                                            <br>
                                            <button  class="w3-btn w3-blue-grey"id="btnArt" type="submit">Enviar Artículo</button>
                                          
                                        </div>
                                    <div class="col-3 col-lg-3"> 
                                        </div>
                            </div>
                        </form>
                            <script>    
                                //login
                                function registrarArticulo(){
                                   
                                    var payload ={
                                        tipoArt : $( "#tipoArt option:selected" ).text(),
                                        titulo : $("input[name='titulo']").val(),
                                        autor : $("input[name='autor']").val(),
                                        art :  $( "#art" ).text(),
                                        descrip :  $("input[name='descrip']").val(),
                                        userName: userName
                                        //descrip : document.getElementById("art").value
                                    }
                                    socket.emit('registrarArticulo', payload);
                                }
                               socket.on('ArticuloEnviado',function(){
                                    alertify.alert("Información", "El Articulo ha sido enviado correctamente", function(){
                                        window.location.href="home";
                                    });
                                });
                                $("#escritura").submit(function(event){
                                    event.preventDefault();
                                    registrarArticulo();
                                });
                            </script>
               
            
            

          
        </body>
    </html>
                        